:root {
  --background_barva: rgb(119, 124, 109);
  --zvyraznovaci_barva: rgb(183, 184, 159);
  --barva_main_tetxu: rgb(203, 203, 203);
  --barva_mensiho_textu: rgb(203, 203, 203);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--zvyraznovaci_barva);
}

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  height: 700px;
  background-color: var(--background_barva);
}

div.obrazekVmainu img{
  width: 400px;
  height: auto;
}

.velkyNapisNaZacatku h1 {
  font-size: 100px;
  margin-bottom: 0;
}
.velkyNapisNaZacatku h2 {
  font-size: 40px;
  margin-top: 0;
  margin-left: 3.25rem;
}